<launch>
    <arg name="odometry_topic" value = "/simulation_generator/odom"/>
    <arg name="planner" default="2"/>  <!-- A*:1, kinodynamic:2, MPC:3 -->
    <!-- MPC ablation switches for lightweight simulation. -->
    <arg name="mpc_w_risk" default="2.0"/>
    <arg name="mpc_enable_cpa" default="false"/>
    <arg name="mpc_enable_stop_enforce" default="true"/>
    <arg name="mpc_enable_stop_advice" default="true"/>
    <arg name="mpc_cpa_weight" default="0.6"/>
    <arg name="mpc_risk_sigma_y" default="0.4"/>
    <arg name="mpc_num_samples" default="200"/>
    <arg name="global_wp_arrival_radius" default="0.25"/>
    <!-- Optional full-PCD global map for A*. Keep local SDF for MPC. -->
    <arg name="mpc_enable_dynamic_hard_reject" default="true"/>
    <arg name="mpc_enable_interaction" default="true"/>
    <arg name="mpc_interaction_enable_pass_behind" default="true"/>
    <arg name="mpc_interaction_enable_yield" default="true"/>
    <arg name="mpc_interaction_enable_social_cost" default="false"/>
    <arg name="mpc_interaction_w_front_pass" default="0.0"/>
    <arg name="mpc_interaction_enable_behind_corridor" default="false"/>
    <arg name="mpc_interaction_w_behind_corridor" default="0.0"/>
    <arg name="mpc_interaction_social_corridor_width" default="0.8"/>
    <arg name="mpc_interaction_front_buffer" default="0.25"/>
    <arg name="mpc_interaction_target_dist_cap" default="3.0"/>
    <arg name="mpc_interaction_front_min" default="0.3"/>
    <arg name="mpc_interaction_front_max" default="4.0"/>
    <arg name="mpc_interaction_corridor_width" default="0.7"/>
    <arg name="mpc_interaction_cross_speed" default="0.15"/>
    <arg name="mpc_interaction_time_gap" default="0.8"/>
    <arg name="mpc_interaction_min_robot_speed" default="0.15"/>
    <arg name="mpc_interaction_cpa_horizon" default="3.0"/>
    <arg name="mpc_interaction_cpa_dist" default="0.8"/>
    <arg name="mpc_interaction_use_cpa_check" default="true"/>
    <arg name="mpc_interaction_cross_enter_threshold" default="0.7"/>
    <arg name="mpc_interaction_cross_exit_threshold" default="0.3"/>
    <arg name="mpc_interaction_cross_confirm_frames" default="3"/>
    <arg name="mpc_interaction_cross_clear_frames" default="3"/>
    <arg name="mpc_interaction_mode_confirm_frames" default="2"/>
    <arg name="mpc_interaction_candidate_latch_time" default="1.0"/>
    <arg name="mpc_interaction_stop_release_clear_time" default="0.15"/>
    <arg name="mpc_interaction_post_yield_grace_time" default="0.6"/>
    <arg name="mpc_interaction_pass_behind_clear_time" default="0.7"/>
    <arg name="mpc_interaction_pass_behind_hold_time" default="0.6"/>
    <arg name="mpc_interaction_risk_low" default="0.3"/>
    <arg name="mpc_interaction_behind_dist" default="0.8"/>
    <arg name="mpc_interaction_forward_bias" default="0.6"/>
    <arg name="mpc_interaction_target_front_min" default="0.4"/>
    <arg name="mpc_interaction_target_front_max" default="3.5"/>
    <arg name="mpc_interaction_target_lateral_max" default="1.8"/>
    <arg name="mpc_interaction_target_ped_clearance" default="0.7"/>
    <arg name="pedestrian_scenario" default="mixed"/>
    <arg name="use_static_global_map" default="false"/>
    <arg name="use_static_global_esdf" default="false"/>
    <arg name="static_map_pcd" default="$(find map_generator)/resource/office2_modify.pcd"/>
    <arg name="static_map_min_height" default="0.60"/>
    <arg name="static_map_max_height" default="2.0"/>
    <arg name="static_map_inflation" default="0.08"/>
    <arg name="static_map_min_points_per_cell" default="3"/>
    <arg name="static_map_min_component_cells" default="6"/>
    <arg name="static_require_known_region" default="true"/>
    <arg name="static_known_use_enclosed_region" default="true"/>
    <arg name="static_known_min_height" default="-0.25"/>
    <arg name="static_known_max_height" default="0.35"/>
    <arg name="static_known_inflation" default="0.55"/>
    <arg name="static_known_boundary_inflation" default="0.35"/>
    <arg name="static_endpoint_clear_radius" default="0.25"/>
    <arg name="publish_static_map_debug" default="true"/>
    <!-- simulation -->
    <include file="$(find plan_manage)/launch/include/simulation.launch"/>
    <!-- unified planner (A*/kinodynamic/MPC all via kin_replan_node FSM) -->
    <include file="$(find plan_manage)/launch/include/algorithm.launch">
        <arg name="planner" value="$(arg planner)"/>
        <arg name="odometry_topic" value = "$(arg odometry_topic)"/>
        <arg name="odometry_world" value = "$(arg odometry_topic)"/>
        <arg name="cloud_topic" value = "/simulation_generator/global_cloud"/>
        <arg name="depth_topic" value="depth"/>
        <arg name="sensor_pose_topic" value="pose"/>
        <arg name="simulation" value="true"/>
        <arg name="slice_height" value="0.0"/>
        <arg name="collision_margin" value="0.3"/>
        <arg name="kin_horizon" value="200.0"/>
        <arg name="global_wp_arrival_radius" value="$(arg global_wp_arrival_radius)"/>
        <arg name="map_size_x" value="40.0"/>
        <arg name="map_size_y" value="40.0"/>
        <arg name="map_size_z" value="5.0"/>
        <arg name="mpc_w_risk" value="$(arg mpc_w_risk)"/>
        <arg name="mpc_enable_cpa" value="$(arg mpc_enable_cpa)"/>
        <arg name="mpc_cpa_weight" value="$(arg mpc_cpa_weight)"/>
        <arg name="mpc_risk_sigma_y" value="$(arg mpc_risk_sigma_y)"/>
        <arg name="mpc_num_samples" value="$(arg mpc_num_samples)"/>
        <arg name="mpc_enable_stop_enforce" value="$(arg mpc_enable_stop_enforce)"/>
        <arg name="mpc_enable_stop_advice" value="$(arg mpc_enable_stop_advice)"/>
        <arg name="mpc_enable_dynamic_hard_reject" value="$(arg mpc_enable_dynamic_hard_reject)"/>
        <arg name="mpc_enable_interaction" value="$(arg mpc_enable_interaction)"/>
        <arg name="mpc_interaction_enable_pass_behind" value="$(arg mpc_interaction_enable_pass_behind)"/>
        <arg name="mpc_interaction_enable_yield" value="$(arg mpc_interaction_enable_yield)"/>
        <arg name="mpc_interaction_enable_social_cost" value="$(arg mpc_interaction_enable_social_cost)"/>
        <arg name="mpc_interaction_w_front_pass" value="$(arg mpc_interaction_w_front_pass)"/>
        <arg name="mpc_interaction_enable_behind_corridor" value="$(arg mpc_interaction_enable_behind_corridor)"/>
        <arg name="mpc_interaction_w_behind_corridor" value="$(arg mpc_interaction_w_behind_corridor)"/>
        <arg name="mpc_interaction_social_corridor_width" value="$(arg mpc_interaction_social_corridor_width)"/>
        <arg name="mpc_interaction_front_buffer" value="$(arg mpc_interaction_front_buffer)"/>
        <arg name="mpc_interaction_target_dist_cap" value="$(arg mpc_interaction_target_dist_cap)"/>
        <arg name="mpc_interaction_front_min" value="$(arg mpc_interaction_front_min)"/>
        <arg name="mpc_interaction_front_max" value="$(arg mpc_interaction_front_max)"/>
        <arg name="mpc_interaction_corridor_width" value="$(arg mpc_interaction_corridor_width)"/>
        <arg name="mpc_interaction_cross_speed" value="$(arg mpc_interaction_cross_speed)"/>
        <arg name="mpc_interaction_time_gap" value="$(arg mpc_interaction_time_gap)"/>
        <arg name="mpc_interaction_min_robot_speed" value="$(arg mpc_interaction_min_robot_speed)"/>
        <arg name="mpc_interaction_cpa_horizon" value="$(arg mpc_interaction_cpa_horizon)"/>
        <arg name="mpc_interaction_cpa_dist" value="$(arg mpc_interaction_cpa_dist)"/>
        <arg name="mpc_interaction_use_cpa_check" value="$(arg mpc_interaction_use_cpa_check)"/>
        <arg name="mpc_interaction_cross_enter_threshold" value="$(arg mpc_interaction_cross_enter_threshold)"/>
        <arg name="mpc_interaction_cross_exit_threshold" value="$(arg mpc_interaction_cross_exit_threshold)"/>
        <arg name="mpc_interaction_cross_confirm_frames" value="$(arg mpc_interaction_cross_confirm_frames)"/>
        <arg name="mpc_interaction_cross_clear_frames" value="$(arg mpc_interaction_cross_clear_frames)"/>
        <arg name="mpc_interaction_mode_confirm_frames" value="$(arg mpc_interaction_mode_confirm_frames)"/>
        <arg name="mpc_interaction_candidate_latch_time" value="$(arg mpc_interaction_candidate_latch_time)"/>
        <arg name="mpc_interaction_stop_release_clear_time" value="$(arg mpc_interaction_stop_release_clear_time)"/>
        <arg name="mpc_interaction_post_yield_grace_time" value="$(arg mpc_interaction_post_yield_grace_time)"/>
        <arg name="mpc_interaction_pass_behind_clear_time" value="$(arg mpc_interaction_pass_behind_clear_time)"/>
        <arg name="mpc_interaction_pass_behind_hold_time" value="$(arg mpc_interaction_pass_behind_hold_time)"/>
        <arg name="mpc_interaction_risk_low" value="$(arg mpc_interaction_risk_low)"/>
        <arg name="mpc_interaction_behind_dist" value="$(arg mpc_interaction_behind_dist)"/>
        <arg name="mpc_interaction_forward_bias" value="$(arg mpc_interaction_forward_bias)"/>
        <arg name="mpc_interaction_target_front_min" value="$(arg mpc_interaction_target_front_min)"/>
        <arg name="mpc_interaction_target_front_max" value="$(arg mpc_interaction_target_front_max)"/>
        <arg name="mpc_interaction_target_lateral_max" value="$(arg mpc_interaction_target_lateral_max)"/>
        <arg name="mpc_interaction_target_ped_clearance" value="$(arg mpc_interaction_target_ped_clearance)"/>
        <arg name="use_static_global_map" value="$(arg use_static_global_map)"/>
        <arg name="use_static_global_esdf" value="$(arg use_static_global_esdf)"/>
        <arg name="static_map_pcd" value="$(arg static_map_pcd)"/>
        <arg name="static_map_min_height" value="$(arg static_map_min_height)"/>
        <arg name="static_map_max_height" value="$(arg static_map_max_height)"/>
        <arg name="static_map_inflation" value="$(arg static_map_inflation)"/>
        <arg name="static_map_min_points_per_cell" value="$(arg static_map_min_points_per_cell)"/>
        <arg name="static_map_min_component_cells" value="$(arg static_map_min_component_cells)"/>
        <arg name="static_require_known_region" value="$(arg static_require_known_region)"/>
        <arg name="static_known_use_enclosed_region" value="$(arg static_known_use_enclosed_region)"/>
        <arg name="static_known_min_height" value="$(arg static_known_min_height)"/>
        <arg name="static_known_max_height" value="$(arg static_known_max_height)"/>
        <arg name="static_known_inflation" value="$(arg static_known_inflation)"/>
        <arg name="static_known_boundary_inflation" value="$(arg static_known_boundary_inflation)"/>
        <arg name="static_endpoint_clear_radius" value="$(arg static_endpoint_clear_radius)"/>
        <arg name="publish_static_map_debug" value="$(arg publish_static_map_debug)"/>
    </include>
    <!-- L1 controller -->
    <node pkg="plan_ctrl" type="L1_controller_v2" respawn="false" name="L1_controller_v2" output="screen">
        <param name="Vcmd" value="1.0" />
        <param name="baseSpeed" value="1425"/>
        <param name="baseAngle" value="90.0"/>
        <param name="AngleGain" value="-2"/>
        <param name="SerialUsing" value="false"/>
        <remap from="/odometry/filtered" to="$(arg odometry_topic)" />
    </node>
    <!-- waypoint -->
    <node pkg="waypoint_generator" name="waypoint_generator" type="waypoint_generator" output="screen">
        <remap from="~odom" to="$(arg odometry_topic)"/>
        <remap from="~goal" to="/move_base_simple/goal"/>
        <remap from="~traj_start_trigger" to="/traj_start_trigger" />
        <param name="waypoint_type" value="manual-lonely-waypoint"/>
    </node>

    <node pkg="tf2_ros" type="static_transform_publisher" name="body2cane_base" args="0 0 0 0 0 0 /base_link /cane_base" />

    <!-- pedestrian simulation (dynamic obstacles for MPC testing) -->
    <arg name="use_pedestrians" default="true"/>
    <group if="$(arg use_pedestrians)">
        <node pkg="plan_manage" type="pedestrian_sim.py" name="pedestrian_sim" output="screen">
            <!-- trigger mode: pedestrian stays at start, walks once on goal, then disappears.
                 loop mode repeats continuously. -->
            <param name="scenario" value="$(arg pedestrian_scenario)"/>
            <param name="scenario_config" value="$(find plan_manage)/config/pedestrian_scenarios.yaml"/>
        </node>
    </group>

    <!-- visualisation -->
    <include file="$(find plan_manage)/launch/rviz.launch"/>
</launch>
